@media(max-width: 500px) {
    .nav-back {
        display: flex;
        top: 0;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 15px !important;
        overflow: hidden;
        z-index: 99;
    }

    .nav-back a {
        position: absolute;
        top: 20px;
        color: var(--primary) !important;
    }

    .navback-home {
        text-decoration: none;
        font-family: var(--font-family-body);
    }

    .page-content {        
        margin-top: 20px;     
        padding-top: 20px; 
        padding-left: 26px;
        padding-right: 26px; 
    }

    .head-content {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        column-gap: 5px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .card {
        display: flex;
        padding: 0px;
        max-width: 50%;
        border-radius: 20px;
        float: left;
        overflow: auto;
    }

    .head-text {
        float: right !important;
    }

    .title-text{
        margin: 0px;
    }

    .text-head {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .head-text-head {
        font-size: 11px;
        margin: 0px;
    }

    .head-text-hd {
        font-size: 11px;
        margin-bottom: 8px;
    }

    .big-title-text {     
        font-family: var(--font-family-title); 
        font-weight: 700 !important;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .article-info{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        gap: 20px;
    }

    .card-article {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, .1);
        border: none;
        text-decoration: none;
        color: var(--font-color-primary);
    }

    .logo {
        display: grid;
        align-items: center;
        margin: 10px;
    }
}
