@media (max-width: 500px){
    .ukm-navback{
        display: flex;  
        top: 0;       
        padding-left: 25px;
        padding-right: 25px;   
        border-radius: 15px !important;
        overflow: hidden;
        z-index: 99;        
    }

    .ukm-navback a{        
        position: absolute;
        top: 36px;
        font-weight: 300;
        color: var(--black) !important;                
    }
    
    .first-headline {
        display: flex; 
        margin-top: 74px ;    
        justify-content: space-between !important;
        margin-bottom: 20px;   
    }

    .logo-ukm {
        max-width: 40%;        
    }

    .logo-ukm img{
        width: 100%;
    }

    .name-ukm{
        margin-left: 10px;
    }

    .name-ukm h2{
        font-weight: bold;
        margin: 0px;
    }

    .name-ukm h5{
        font-family: var(--font-family-body);
        font-size: 13px;
    }

    .detail-headline h6{
        font-family: var(--font-family-body);
        font-size: 10px;
        margin: 0px;
    }

    .detail-headline p{
        font-weight: 600;
        margin-bottom: 12px;
    }

    .second-headline {
        margin-bottom: 20px;
    }

    .artikel-ukm h2{
        font-weight: bold;
        margin-left: 14px;
    }

    .artikel-custom {
        font-family: var(--font-family-body);
        margin-left: 14px; 
    }
    .artikel-custom h6{        
        margin: 0px;
        font-weight: 600;
    }

    .artikel-custom p{
        font-size: 13px;
    }

    .filo-ukm h2{
        font-weight: bold;
        margin-left: 14px; 
    }

    .filo-custom img{
        width: 40%;
        margin-bottom: 8px;
    }

    .detail-filosofi {
        font-family: var(--font-family-body);
        margin-left: 14px; 
    }

    .detail-filosofi h6{
        margin: 0px;
        font-weight: 600;
    }

    .detail-filosofi p{
        font-size: 13px;
    }

    .last-headline h2{
        font-weight: bold;
        margin-left: 14px;
    }

    .last-headline p{
        font-size: 13px;
        margin-left: 14px; 
    }
    
    .footer {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 26px;
        padding-right: 26px;
        display: flex;
        background-color: var(--primary);
        text-align: center;
        position: absolute;
        align-items: center;
    }

    .footer-logo{
        width: 10%;     
    }

    .footer img {
        width: 100%;
        border-radius: 20px;
    }

    .footer p{
       font-size: 8px; 
       margin-bottom: 0px;
       color: var(--white);
    }

    .icon-sosmed img{
        width: 15%;
    }
}
