.main-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--page-background-2);
    padding: 0px;
}

@media (max-width: 500px){
    .head-bar{
        display: flex;
        margin: auto;    
        background-color: var(--page-background-2);
        padding: 0;
        align-items: center;
    }
    
    .navbar-brand{
        padding: 0;
    }

    .head-menu{
        float: left;
        margin-right: 30px;
        margin-top: 20px;
        height: 100%;
        align-items: center;
    }

    .head-menu-icon{
        padding: 0;
        width: 26px;
        height: 26px;
        margin-left: 13px;
    }
    
    .head-menu-icon img{
        width: 26px;
        height: 26px;
    }

    .head-menu-profile{
        padding: 0;
        width: 40px;
        height: 40px;
        margin-left: 21px;
    }

    .head-menu-profile img{
        width: 40px;
        height: 40px;
    }

    .footer-bar{
        z-index: 98;
        background-color: var(--page-background-1);
        bottom: 0;
        position: fixed;
        overflow: hidden;
        height: 75px;
        border-radius: 20px 20px 0 0;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0 4px 8px 16px rgb(0 0 0 / 10%);
    }

    .footer-bar li{
        padding: 0;
        width: 50px;
        height: 30px;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        align-items: center;
    }

    .footer-bar a{
        text-decoration: none;
        text-align: center;
        color: #A8A8A8 !important;
    }    

    .leaderboard{
        margin-left: 0;
    }

    .icon{
        stroke: #A8A8A8;
    }

    a.active, .active svg path, li:hover svg path,li a:hover {
        color: #3991C9 !important;
        fill: #3991C9 !important;
        stroke: #fff;
        stroke-width: 1;
    }

    .page-content {
        overflow-x: hidden;
        transition: all 300ms ease;
        z-index: 90;
        padding-bottom: 80px;
        padding-bottom: calc(80px + (constant(safe-area-inset-bottom))*1.1);
        padding-bottom: calc(80px + (env(safe-area-inset-bottom))*1.1);
    }
}
