.main-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--page-background-1);
    padding: 0px;
}

@media (max-width: 500px){
    .head-bar{
        display: flex;
        margin: auto;    
        background-color: var(--page-background-1);
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        height: 90px;
        top: 0;
        overflow: hidden;
        position: fixed;
        z-index: 99;
    }

    .scrolled{
        box-shadow: 0 4px 8px 4px rgb(0 0 0 / 10%);
        opacity: 1;
        backdrop-filter: saturate(180%) blur(20px);
        background-color: #fff;
        /* background-color: rgba(255, 255, 255, 0.8); */
        pointer-events: all;
        transition: all 300ms ease;
        border-radius: ;
    }
    
    .navbar-brand{
        padding: 0;
        margin: 0;
    }

    .head-menu{
        float: right !important;
        height: 100%;
        align-items: center;
    }

    .head-menu-icon{
        padding: 0;
        width: 26px;
        height: 26px;
        margin-left: 13px;
    }
    
    .head-menu-icon img{
        width: 26px;
        height: 26px;
    }

    .head-menu-profile{
        padding: 0;
        width: 40px;
        height: 40px;
        margin-left: 21px;
        margin-right: 10px;
    }

    .head-menu-profile img{
        width: 40px;
        height: 40px;
    }

    .footer-bar{
        z-index: 98;
        background-color: var(--page-background-1);
        bottom: 0;
        position: fixed;
        overflow: hidden;
        height: 75px;
        border-radius: 20px 20px 0 0;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0 4px 8px 16px rgb(0 0 0 / 10%);
    }

    .footer-bar li{
        padding: 0;
        width: 50px;
        height: 30px;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        align-items: center;
    }

    .footer-bar a{
        text-decoration: none;
        text-align: center;
        color: #A8A8A8 !important;
    }    

    .leaderboard{
        margin-left: 0;
    }

    .icon{
        stroke: #A8A8A8;
    }

    a.active, .active svg path, li:hover svg path,li a:hover {
        color: #3991C9 !important;
        fill: #3991C9 !important;
        stroke: #fff;
        stroke-width: 1;
    }

    .page-content {
        overflow-x: hidden;
        transition: all 300ms ease;
        z-index: 90;
        padding-top: 90px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 80px;
        padding-bottom: calc(80px + (constant(safe-area-inset-bottom))*1.1);
        padding-bottom: calc(80px + (env(safe-area-inset-bottom))*1.1);
    }

    .scrolling-wrapper-flexbox{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
        -webkit-overflow-scrolling: touch;
        margin-right: -60px;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 0px;
    }

    .scrolling-wrapper-flexbox::-webkit-scrollbar {
        display: none;
    }

    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 0 0 auto;
        align-items: center;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, .1);
        border: none;
    }

    .card-body{
        max-width: 100px;
        max-height: 146px;
        padding: 0;
    }

    .card-title{
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 12px;
    }

    .card-text{
        font-family: var(--font-family-body);
        font-size: 10px;
        font-weight: 300;
        width: 100%;
    }

    .card-text{
        overflow:hidden;
        line-height: 1.5;
        max-height: 5rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }

    .card-img-container{
        max-width: 100px;
        max-height: 140px;
    }

    .card img{
        width: 84px;
        height:62px;
    }
}
