@media (max-width: 500px){
    .head-bar{
        height: 241px;             
        border-radius: 15px;
    }

    .head-bar a{
        z-index: 2 !important;
        position: absolute;
        top: 36px;
    }

    .head-bar img {
        position: relative;
        width: 500px;
        height: 292px;
        left: -25px !important;
        top: -26px !important;
        z-index: 1;
    }
    
    .navbar-brand{      
        font-family: var(--font-family-body);
        text-decoration: none;        
    }       

    .page-content {        
        padding-top: 259px;       
    }

    .kuliah-itera{
        font-family: "Playfair Display" !important;
        font-weight: bold !important;
        font-size: 20px;
    }

    .page-content p{        
        font-weight: 300;
        font-size: 10px;
    }

    .scrolling-wrapper-flexbox{        
        gap: 70px;       
    }
}
